
/*!
*  _register.scss
* -----------------------------------
*/

#register {

    label.checkbox {

        span {

            width: 28px;
            height: 27px;
            top: 7px;

            i {

                margin: 0 9px;

            }

        }

    }

}
