<div id="testing">

    <h1>Testing View</h1>


    <h3>Template populated with JSON data in JavaScript.</h3>
    <%= data1.name %>
    <%= data1.location %>
    <%= data1.occupation %>
    <%= data1.blog %>
    <%= data1.website %>

    <h3>Template populated with external JSON data.</h3>
    <%= data2.name %>
    <%= data2.location %>
    <%= data2.occupation %>
    <%= data2.blog %>
    <%= data2.website %>

    <!-- <p>JSON data grabbed via AJAX from a php file (php/data.php) and populated via backbone view controller and rendered using underscore.js.</p> -->

<!-- <h3>Template populated with backbone model data</h3> -->


<!--     <h3>Template populated with backbone collections data</h3>
    <p>Populated templates from backbone collections of data.</p>
 -->



</div>

